.fbanner
	padding: 11px 0
	border-top: 1px solid #DFDFDF
	overflow: hidden
	+r($mob)
		display: none

.footer
	border-top: 1px solid #fff
	box-shadow:  0 -3px 0 #E0E0E0, inset 0 1px 0 #E0E0E0
	padding: 33px 0 42px 0
	position: relative
	margin-top: 15px 
	+r(910)
		padding: 28px 25px 42px
		box-shadow: none
	.footer__left
		float: left
		width: 210px
		padding-left: 30px
		+r(910)
			float: none
			width: auto
			padding: 0
	.footer__gototop
		float: right
		margin-right: 30px
		font-size: 11px
		text-transform: uppercase
		color: #8F8F8F
		text-decoration: none
		cursor: pointer
		margin-top: 8px
		&:hover
			color: #246DE2
		+r(1160)
			position: absolute
			bottom: 14px
			right: 0
			margin: 0
		+r($mob)
			bottom: auto
			top: -175px

		i
			+s(arrowtop)
			margin-left: 7px
			display: inline-block
	.footer__right
		margin-left: 294px
		position: relative
		+r(910)
			margin: 0
			
	.footer__top
		margin-bottom: 25px
		+r(910)
			margin-bottom: 0
		.footer__right
			border-bottom: 1px solid #E1E1E1
			padding-bottom: 15px
			+r(910)
				border-bottom: none
	.footer__copy
		font-size: 12px
		color: #888888
		margin-right: 255px
		line-height: 17px
		+r(910)
			margin: 0
			padding-top: 26px
			margin-bottom: 22px
	.footer__like
		text-align: left
		margin-top: 27px
		+r(910)
			margin-top: 10px
			padding-bottom: 28px
			border-bottom: 1px solid #E1E1E1
			display: block
	.footer__other
		float: right
		width: 242px
		//margin-right: 33px
		text-align: right
		position: absolute
		right: 33px
		top: 0
		+r(910)
			float: none
			width: auto
			position: static
			text-align: left
	.footer__dev
		color: #4D4D4D
		text-decoration: none
		margin-bottom: 17px
		a
			+hide-text
			+s(vintage)
			display: inline-block
			vertical-align: bottom
			position: relative
			top: -3px
			+r(910)
				display: block
				top: 4px
	.footer__logo
		+s(smalllogo)
		display: inline-block
		margin-bottom: 13px
	.footer__nav
		font-size: 11px
		list-style: none
		font-weight: bold
		li
			margin-bottom: 8px
		a
			text-decoration: none
			color: #111111
			&:hover
				color: #246DE2
			&.js-togglesitemap
				@extend %arrow
				display: block
				+r(910)
					border-top: 1px solid #fff
					box-shadow:  0 -3px 0 #E0E0E0, inset 0 1px 0 #E0E0E0
					margin-top: 15px 
					padding-top: 12px 
	.footer__topics
		clear: both
		margin-top: 30px
		+r(1160)
			margin-right: 100px
		+r(910)
			margin-top: 21px
		+r($mob)
			margin-right: 0
		ul
			list-style: none
		li
			display: inline-block
			font-size: 0
			+r(910)
				display: block
				margin-bottom: 4px
		a
			font-size: 14px
			font-weight: bold
			@extend %arrow
			margin-right: 23px
			+r($mob)
				margin: 0
	.footer__cat
		// float: left
		// margin-right: 25px
		// margin-top: 8px
		display: inline-block
		vertical-align: top
		width: 25%
		margin: 8px 10px 10px 0
		+r(910)
			display: none
			&.is-active
				display: block
				&:first-child
					background: red 
					border-top: 1px solid #fff
					box-shadow:  0 -3px 0 #E0E0E0, inset 0 1px 0 #E0E0E0
		+r(1050)
			margin-right: 15px
		&:first-child
			background: green 
		dt
			margin-bottom: 16px
			text-transform: uppercase
			+b
			font-size: 12px
			color: #2A2A2A
		ul
			list-style: none
		li
			margin-bottom: 8px
		a
			text-decoration: none
			color: #2F2F2F
			&:hover
				color: #246DE2
	.footer__counters
		+r(910)
			display: none
.socials
	+r(910)

	a
		display: inline-block
		margin-right: 29px
	@each $s in fb,twitter,rss,gp
		.socials__#{$s}
			+s(#{$s})
			&:hover
				+sp(#{$s}h)
	.socials__gp
		position: relative
		top: 3px 

